footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  min-height: 50px;
  background-color: var(--main-text-color);
  padding: 3rem;
  margin: 1rem;
}

footer h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--contrast-text-color);
  font-style: italic;
  margin-bottom: 18px;
}

footer li {
  list-style-type: none;
}

footer a {
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  color: var(--price-text-color);
}

footer a:hover {
  color: var(--link-text-color);
}
